*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}

.logo{
  color: rgb(red, green, blue);
  text-transform: uppercase;
  letter-spacing: Spx;
  font-size: 20px; 
}

.nav_links{
  display: flex;
  justify-content: space-around;
  width: 30x;
}
.nav-links a{
  color: rgb(red, green, blue)
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}